<ion-header>
  <ion-toolbar class="header">
    <ion-title>Guía</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="guia-container">
    <p>
      Esta guía permite informar a los inscritos a como convertirse
      en un profesional intérprete de Lengua de Señas Peruana.<br>
    </p>
    <p>
      Si desea saber profundamente como convertirse en un intérprete
      de lengua de señas, lo invitamos a dar touch en el botón que
      contiene el ojito de ver más.
    </p>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="goPdf()">
        <ion-icon name="eye-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
