.menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    ion-item {
        --border-color: none;
        --border: none;
        --inner-border-width: 0px;
    }

    ion-button {
        --background: none;
        --color: black;
        --box-shadow: none;
        --font-size: 2em;
    }
}

.menu-image {
    background-image: url('../../../assets/images/surtus-one.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: calc(40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .menu {

        .menu-icon {
            position: relative;
            left: -140px;
            font-weight: bold;
            font-size: 3em;
            color: white;
        }
    }


    h1 {
        text-align: center;
        color: white;
        font-weight: bold;
    }

    .menu-search {
        position: relative;
        top: 85px;
        background: none;
        --background: #fff;
        --color: #121212;
        width: 80%;
        --border-radius: 15px;
    }

}

.challenge-section {
    position: relative;
    padding: 1rem;
    top: 15px;

    .challenge-add {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100px;
        background: linear-gradient(90deg, #00D2FF 0%, #3A7BD5 100%);
        border-radius: 25px;

        .add-icon {
            color: white;
            font-size: 3em;
        }

        .add-text {
            margin: 2px 0;
            color: white;
            font-size: 1.5em;
        }
    }
}
