<ion-menu-toggle>
  <ion-menu side="start" contentId="my-main" swipeGesture="false">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Principal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngFor="let i of opts | async">
        <div class="menu-items">
          <ion-item>
            {{i.names}}
          </ion-item>
          <ion-button [routerLink]="i.redirect">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-list>
    </ion-content>
  </ion-menu>
</ion-menu-toggle>

<ion-content color="light">
  <div class="menu-image">
    <div class="menu">
      <ion-icon name="menu-outline" class="menu-icon" (click)="toggleMenu();"></ion-icon>
    </div>
    <h1>SURTUS</h1>
    <ion-searchbar class="menu-search"></ion-searchbar>
  </div>
  <div class="challenge-section">
    <ion-text>
      <h3 class="challenge-text">Agregar nuevo reto</h3>
    </ion-text>
    <div class="challenge-add" (click)="newChallenge()">
      <ion-icon name="add-outline" class="add-icon"></ion-icon>
      <h6 class="add-text">Crear reto</h6>
    </div>
    <div class="user-challenges" *ngIf="challenges.length >= 1; else noChallenges">
      <ion-text>
        <h3 class="challenge-text">Retos actuales</h3>
      </ion-text>
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let ch of challenges">
            <ion-card class="user-challenges-card">
              <p class="challenge-name">{{ch.name}}</p>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="challenge-score">
        <ion-text>
          <h3 class="challenge-text">Puntaje de retos</h3>
        </ion-text>
      </div>
    </div>
    <ng-template #noChallenges>
      <p>No tienes retos aún.</p>
    </ng-template>
  </div>
</ion-content>
