<ion-header>
  <ion-toolbar class="header">
    <ion-buttons class="menu-global" (click)="toggleMenu()">
      <ion-icon name="menu" class="icon-menu"></ion-icon>
    </ion-buttons>
    <ion-title>Nivel {{lvl}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modules-content">
    <ion-grid class="ion-wrap">
      <ion-row class="module-row">
        <ion-col *ngFor="let m of modules; let i = index;" [routerLink]="['/clases', m.idMod]"
        class="modules-list" size="12">
          <p class="module-name">{{m.name}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
