.modules-content {
  padding: 0.5rem 1.5rem;

  h3 {
    font-weight: bold;
  }
  // only if col is unlocked
  .modules-list {
    background: linear-gradient(90deg, #397FD6 0%, #74ADFF 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
    border-radius: 5px;
    .modules-icon {
      width: 24px;
      height: 24px;
      align-items: start !important;
    }
    .module-name {
      text-align: center;
      font-weight: bold;
      color: white;
      text-align: center;
    }
  }
}


