.modules-content {
    padding:  0.5rem 1.5rem;

    h3 {
        font-weight: bold;
    }

    .classes {
        margin-top: 25px;
        padding: 0;

        .classes-row .classes-col {
            margin-bottom: 1rem;
            min-height: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .class-img {
                min-width: 100%;
                min-height: 100%;
            }

            .class-name {
                text-align: center;
                font-weight: bold;
                font-size: 1.2em;
            }
        }
    }
}
